TestAutomation/Service References/ExhibitBookmarkService/ExhibitBookmarkService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EVE.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EVE.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExhibitBookmarkList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExhibitBookmarkList.ExhibitBookmarkRow" nillable="true" type="tns:ExhibitBookmarkList.ExhibitBookmarkRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExhibitBookmarkList" nillable="true" type="tns:ExhibitBookmarkList" />
  <xs:complexType name="ExhibitBookmarkList.ExhibitBookmarkRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExhibitBookmarkId" type="xs:int" />
      <xs:element minOccurs="0" name="ExhibitBookmarkStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExhibitBookmarkStatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExhibitBookmarkStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="ExhibitId" type="xs:int" />
      <xs:element minOccurs="0" name="ExhibitNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileId" type="xs:int" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsUac" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExhibitBookmarkList.ExhibitBookmarkRow" nillable="true" type="tns:ExhibitBookmarkList.ExhibitBookmarkRow" />
</xs:schema>